.custom-links-header p a {
  color: #b31942;
}

.custom-links-header p a:hover {
  color: #20436e;
}

/* logo */

.peertube-container .header {
  background-color: #e9e9e9 !important;
}

#realitytube-logo {
  display: inline-block;
  background: url("../../static/images/logo.png");
  width: 126px;
  height: 38px;
  background-size: 126px;
}
@media screen and (max-width: 900px) {
  #typeahead-container input#search-video.focus-visible {
    color: #0a2238 !important;
    background-color: var(--mainBackgroundColor);
  }
  #typeahead-container input#search-video.focus-visible::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--mainColor);
    opacity: 1; /* Firefox */
  }

  #typeahead-container input#search-video.focus-visible:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--mainColor);
  }

  #typeahead-container input#search-video.focus-visible::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--mainColor);
  }
  #typeahead-container input#search-video {
    color: var(--mainBackgroundColor);
  }
  #typeahead-container input#search-video::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--mainBackgroundColor);
    opacity: 1; /* Firefox */
  }

  #typeahead-container input#search-video:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--mainBackgroundColor);
  }

  #typeahead-container input#search-video::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--mainBackgroundColor);
  }
}
@media screen and (max-width: 715px) {
  .peertube-title {
    display: none !important;
  }
  .header .top-left-block .icon.icon-menu {
    background-color: unset !important;
    -webkit-mask-image: unset !important;
    background-image: url(../../static/images/logo_mini.png) !important;
    width: 45px !important;
    height: 45px !important;
    margin: 0 0 0 5px !important;
  }
}
