@font-face {
  font-family: 'ITC_Avant_Garde_Gothic';
  src: url('/fonts/ITC_Avant_Garde_Gothic_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body#custom-css {
  --mainColor: #0a2238;
  --mainColorLighter: #b3b3b3;
  --mainColorLightest: #d3d3d3;
  --mainHoverColor: #0a2238;
  --mainBackgroundColor: #e9e9e9;
  --mainForegroundColor: #0a2238;
  --secondaryColor: #b3b3b3;
  --greyForegroundColor: #0a2238c4;
  --greyBackgroundColor: #b3b3b3;
  --menuBackgroundColor: #d5d5d5;
  --menuForegroundColor: #0a2238;
  --menuAndHeaderBackgroundColor: #b3b3b3;
  --submenuColor: #dbdbdb;
  --inputForegroundColor: #0a2238;
  --inputBackgroundColor: #e9e9e9;
  --inputPlaceholderColor: #0a2238;
  --textareaForegroundColor: #011323;
  --textareaBackgroundColor: #fff;
  --markdownTextareaBackgroundColor: #fff;
  --actionButtonColor: #d3d3d3;
  --supportButtonColor: #bdbdbd;
  --supportButtonBackgroundColor: #0a2238;
  --supportButtonHeartColor: #0a2238;
  --dangerBackgroundColor: #b3b3b3;
  --embedForegroundColor: #fff;
  --embedBigPlayBackgroundColor: #020e16;
  --expanded-horizontal-margin-content: 150px;
  overflow-y: scroll;
  font-family: "ITC_Avant_Garde_Gothic", Source Sans Pro, sans-serif;
}
.main-col .sub-menu.sub-menu-fixed {
  position: fixed;
  z-index: 12499;
  border-bottom: 1px solid #cbcbcb;
}

#typeahead-container input#search-video {
  border: 1px solid var(--mainColor) !important;
}
.logged-in-menu {
  border-top: 1px solid #cbcbcb !important;
}
input,
textarea,
select,
.tab-content,
.nav-preview,
.ng-select,
.progress my-select-checkbox {
  border-color: var(--mainColor) !important;
}
.publish-button my-global-icon svg {
  color: #fff !important;
}

.logged-in-block > div:first-child .logged-in-more {
  border-color: var(--menuBackgroundColor);
  border-width: 1px;
  border-style: solid;
  box-shadow: none !important;
  background-color: var(--menuBackgroundColor);
}

.logged-in-block > div:first-child .logged-in-more.show {
  border-color: var(--mainColor);
}

.logged-in-block
  > div:first-child
  .logged-in-more
  .logged-in-info
  .logged-in-username {
  color: var(--mainColor) !important;
}
.notification-inbox-popover {
  border-color: #dbdbdb !important;
  border-width: 1px;
  border-style: solid;
}
.notification-inbox-popover.shown {
  border-color: var(--mainColor) !important;
  border-width: 1px;
  border-style: solid;
  box-shadow: none !important;
}

.alert-warning {
  color: #e5e5e5 !important;
  background-color: #0a2238 !important;
  border-color: #9babbf !important;
}

.icon-text {
  color: var(--mainColor) !important;
}

.btn-group > .btn-group:not(:first-child),
.btn-group > .btn:not(:first-child) {
  margin-left: none !important;
}

.publish-button:hover {
  background-color: #0a2238 !important;
}

.input-group .input-group-text {
  color: #0a2238 !important;
  border: solid 1px #0a2238;
}

.grey-button {
  border: solid 1px #0a2238 !important;
  font-weight: 600;
  font-size: 15px;
  height: 32px !important;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0px 17px 0px 13px;
  cursor: pointer;
  background-color: #e5e5e5;
  color: var(--greyForegroundColor);
}
body .p-checkbox .p-checkbox-box {
  border: 1px solid #0a2238 !important;
}

.add-button my-global-icon .feather {
  color: #fff !important;
}
.has-feedback.has-clear .form-control-clear {
  color: #0a2238 impo !important;
}

.root .form-group-checkbox input + span {
  border: 1px solid #0a2238 !important;
}
.alert-info {
  color: #0a2238 !important;
  background-color: #d5d5d5 !important;
  border-color: #0a2238 !important;
  border-radius: 2px !important;
}

.input-group-append {
  border: 1px solid #0a2238 !important;
}
.btn-outline-secondary {
  color: #0a2238 !important;
}
.delete-me button {
  background-color: #0a2238 !important;
}
.delete-me button:hover {
  background-color: #b42b43 !important;
}
.account-title.account-title-danger {
  color: #b42b43 !important;
}
.menu-wrapper my-global-icon svg {
  color: #0a2238 !important;
}
.ng-select .ng-select-container {
  color: #0a2238 !important;
  background-color: #e9e9e9 !important;
  border-radius: 4px;
  border: 1px solid #0a2238 !important;
  min-height: 30px !important;
  align-items: center;
}
.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #0a2238 transparent transparent !important;
}
.badge {
  background-color: #e9e9e9 !important;
  color: #0a2238 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #f7f7f7 !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked .badge {
  background-color: #0a2238 !important;
  color: #dbdbdb !important;
}
.glyphicon {
  color: #0a2238 !important;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: #0a2238 !important;
  border-radius: 2px !important;
  color: #e9e9e9 !important;
}
.ng-select .ng-clear-wrapper {
  color: #0a2238 !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items {
  background-color: #fff !important;
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-icon.left {
  border-right: 1px solid #e9e9e9 !important;
}
p-inputmask input {
  border: 1px solid !important;
}
.user-quota .progress span {
  color: #e32a5b !important;
  font-size: 13px !important;
  font-weight: bold !important;
  margin: 8px;
}
.user-quota .progress {
  background-color: #e9e9e9 !important;
  display: flex !important;
  height: 1rem !important;
  overflow: hidden !important;
  font-size: 0.75rem !important;
  border-radius: 0.25rem !important;
  position: relative !important;
  height: 2rem !important;
  border: solid 1px !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected{
  background-color: #e9e9e9 !important;
}
.video-info-first-row-bottom my-global-icon svg {
  color: #0a2238 !important;
}